* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gabarito', sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
    gap: 30px;
    align-items: center;
}

.navbar__s1__title {
    color: rgb(39%, 7%, 73%);


}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flexbox;
    flex-direction: row;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    width: 80%;
    gap: 10px;
    font-size: 16px;

}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.categories {
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
}

.categories p {
    background-color: purple;
    color: white;
    padding: 5px;
    border-radius: 30px;
}

.sale-image {
    width: 100%;
}

.recomended {
    padding: 10px;
}

.recomended__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;

}

.course-card {
    width: 300px;
    
}

.course-card img {
    width: 100%;
    height: 50%;
}
.course-card , .python{
    font-size: 14px;
}
.topics{
    padding: 10px;
}
.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topics__container p{
    border: solid grey 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.popular{
    padding: 10px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.footer{
    padding: 10px;
    background-color: black;
    color: white;
}
.footer__one{
    display: flex ;
    gap: 10px;
}
.footer__two{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}
.footer__one p{
    margin: 20px;
}